asgiref
certifi
click
cycler
fastapi
future
h11
joblib
kiwisolver
matplotlib
numpy
pandas
Pillow
pydantic
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
starlette
threadpoolctl
typing-extensions
uvicorn